/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* HMP Specific classes */

.lnkSocial {
	color:#000;
}
.lnkSocial:hover {
	color:#c23520;
}

.hmpLogo {
	  height:30px;
  }

a.hot {
	color: #c23520;
}
.adiosoOrange {
	background: #ff7640;
}

.hotOrange {
	background-color:#c23520;
}

.crowdBg {
	background-image: url(../img/crowdBg.png);
}

.hmp-nav {
	margin-top:15px;
	float:right;
	margin-right:10px;
}

.pageBar {
	background-color: #fecb00; 
	/*background: #c23520; */
	 white-space: nowrap;
	} 
	
	
	.hmpTop {
		margin-top:50px;
	}

.hmpFaq {
	margin-bottom:20px;
}
header.secondary {
-moz-box-shadow: 0px 2px 16px -4px #666;
-o-box-shadow: 0px 2px 16px -4px #666;
-webkit-box-shadow: 0px 2px 16px -4px #666;
box-shadow: 0px 2px 16px -4px #666;
position: fixed;
left: 0;
right: 0;
z-index: 99;
top: 65px;
height: 47.5px;
font-size: 37.5px;
line-height: 37.5px;
}

header.secondary.skyline {
	height:143px;
}

header.secondary .media {
position: absolute;
overflow: hidden;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

header.secondary .media .overlay {
background-color: #000;
opacity: 0.5;
filter: alpha(opacity=50);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}

header.secondary.skyline .organization {
position: relative;
height: 100%;
z-index: 2;
}

.wrapper {
	position:relative; 
	top:0px;
	left:0px;
}

.melogo {
	position:absolute;
	bottom:60px;
	right:40px; 
}
.higgLogo {
	position:absolute; 
	bottom:60px;
	left:40px;
}
.higgText {
	position:absolute;
	bottom:50px;
	left: 140px;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #c23520;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

i.navIcon {
	border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  width: 39px;
  height: 39px;
  line-height: 37px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/crowdBg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calloutNextShow {
	color: #ffffff;
  display: table;
  height: 600px;
  width: 100%;
  background: url(http://placehold.it/1200x600) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background-color: #fff;
  }

  .callout {
	background: url(../img/crowdBg.png) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }
  
  .hmpLogo {
	  height:30px;
  }
  
  header.secondary {
-moz-box-shadow: 0px 2px 16px -4px #666;
-o-box-shadow: 0px 2px 16px -4px #666;
-webkit-box-shadow: 0px 2px 16px -4px #666;
box-shadow: 0px 2px 16px -4px #666;
position: fixed;
left: 0;
right: 0;
z-index: 99;
top: 45px;
height: 47.5px;
font-size: 37.5px;
line-height: 37.5px;
}

.melogo {
	display: none; 
}
.higgLogo {
	display:none;
}
.higgText {
	display:none;
}



}
